<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:replace="fragments/header">groups header</div>

    <div class="container-fluid">
        <th:block th:if="${errorMessage != null}">
            <div class="alert alert-danger" th:text="${errorMessage}">Error!!</div>
            <br />
        </th:block>
        <th:block th:if="${successMessage != null}">
            <div class="alert alert-success" th:text="${successMessage}">Success</div>
            <br />
        </th:block>
    </div>
    <br />

    <div class="container-fluid">
        <form class="form-horizontal" th:action="@{/univer/group/edit}" method="post" modelAttribute="groupDto">
            <div class="form-group">
                <label for="text" class="col-sm-3 control-label">Title</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control"  id="title" name="title" placeholder="Enter title" th:value="${group.title}">
                </div>

                <label for="text" class="col-sm-3 control-label">Year of entry</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="yearEntry" name="yearEntry" placeholder="YYYY" th:value="${group.yearEntry}">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <th:block th:if="${group.id==0}">
                        <button type="submit" class="btn btn-default">Create</button>
                    </th:block>

                    <th:block th:if="${group.id!=0}">
                        <input type="hidden" name="id" th:value="${group.id}" />
                        <button type="submit" class="btn btn-default">Update</button>
                    </th:block>

                </div>
            </div>
        </form>
    </div>



    <br />

    <div th:insert="fragments/footer">&copy;2019 University project</div>




</body>
</html>
