<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:replace="fragments/header">groups header</div>

    <div class="container-fluid">
        <th:block th:if="${errorMessage != null}">
            <div class="alert alert-danger" th:text="${errorMessage}">Error!!</div>
            <br />
        </th:block>
        <th:block th:if="${successMessage != null}">
            <div class="alert alert-success" th:text="${successMessage}">Success</div>
            <br />
        </th:block>
    </div>
    <br />

    <div class="container-fluid">
        <form class="form-horizontal" th:action="@{/univer/student/edit}" method="post" modelAttribute="studentDto">
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label">First name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="firstName" th:value="${student.firstName}" name="firstName" placeholder="Enter first name">
                </div>
                <label for="text" class="col-sm-2 control-label">Last name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lastName" th:value="${student.lastName}" name="lastName" placeholder="Enter last name">
                </div>
                <label for="text" class="col-sm-2 control-label">Middle name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="middleName" th:value="${student.middleName}" name="middleName" placeholder="Enter middle name">
                </div>
                <label for="text" class="col-sm-2 control-label">Birthday</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="birthday" th:value="${student.birthday}" name="birthday" placeholder="YYYY-MM-DD">
                </div>
                <label for="text" class="col-sm-2 control-label">Id fees</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="idFees" th:value="${student.idFees}" name="idFees" placeholder="XXXXXXXXX - 9 number">
                </div>
                <label for="text" class="col-sm-2 control-label">Group</label>
                <div class="col-sm-10">
                    <select class="selectpicker" data-live-search="true" id="idGroup" name="idGroup">
                        <th:block th:if="${student.groupTitle!=''}">
                            <option  th:value="${student.idGroup}" th:text=${student.groupTitle}></option>
                            <option th:value="">Remove group</option>
                        </th:block>
                        <th:block th:if="${student.groupTitle==''}">
                            <option th:value="">Choose group</option>
                        </th:block>
                        <option th:each="group : ${groups}" data-tokens="${group.title}" th:value="${group.id}" th:text=${group.title}></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <th:block th:if="${student.groupTitle!=''}">
                        <input type="hidden" id="groupTitle" name="groupTitle" th:value="${student.groupTitle}" />
                    </th:block>
                    <th:block th:if="${student.id==0}">
                        <button type="submit" class="btn btn-default">Create</button>
                    </th:block>
                    <th:block th:if="${student.id!=0}">
                        <input type="hidden" id="id" name="id" th:value="${student.id}" />
                        <button type="submit" class="btn btn-default">Update</button>
                    </th:block>
                </div>
            </div>
        </form>

    </div>
    <br />

    <div th:insert="fragments/footer">&copy;2019 University project</div>

</body>
</html>
