<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:replace="fragments/header">groups header</div>

    <div class="container-fluid">
        <th:block th:if="${errorMessage != null}">
            <div class="alert alert-danger">
                <div th:text="${errorMessage}"></div>
            </div>
        </th:block>
        <th:block th:if="${successMessage != null}">
            <div class="alert alert-success" th:text="${successMessage}">Success</div>
        </th:block>
    </div>
    <br />

    <div class="container-fluid">
        <form class="form-horizontal" action="#" th:action="@{/group_edit}" method="post" th:object="${groupDto}">
            <div class="form-group">
                <label for="text" class="col-sm-3 control-label">Title</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" th:field="*{title}" placeholder="Enter title" required> <small class="text-danger" th:if="${#fields.hasErrors('title')}"
                        th:errors="*{title}">Name Error</small>
                </div>

                <label for="text" class="col-sm-3 control-label">Year of entry</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" th:field="*{yearEntry}" placeholder="YYYY" required> <small class="text-danger" th:if="${#fields.hasErrors('yearEntry')}"
                        th:errors="*{yearEntry}">Name Error</small>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <th:block th:if="${id==0}">
                        <button type="submit" class="btn btn-success">Create</button>
                    </th:block>

                    <th:block th:if="${id!=0}">
                        <input type="hidden" th:field="*{id}" />
                        <button type="submit" class="btn btn-danger">Update</button>
                    </th:block>

                </div>
            </div>
        </form>
    </div>


    <br />

    <div th:insert="fragments/footer">&copy;2019 University project</div>

</body>

</html>
