<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script>
	function rowClicked(value) {
		location.href = "student/edit?id=" + value;
	}
</script>
</head>
<body>
    <div th:replace="fragments/header">groups header</div>

    <div class="container-fluid">
        <th:block th:if="${errorMessage != null}">
            <div class="alert alert-danger" th:text="${errorMessage}">Error!!</div>
            <br />
        </th:block>
        <th:block th:if="${student != null}">
            <th:block th:if="${successMessage != null}">
                <div class="alert alert-success" th:text="${successMessage}">Success</div>
                <br />
            </th:block>
            <table class="table table-bordered">
                <tr class="success">
                    <th>First name</th>
                    <td th:text=${student.firstName}></td>
                </tr>
                <tr>
                    <th>Last name</th>
                    <td th:text=${student.lastName}></td>
                </tr>
                <tr>
                    <th>Middle name</th>
                    <td th:text=${student.middleName}></td>
                </tr>
                <tr>
                    <th>Birthday</th>
                    <td th:text=${student.birthday}></td>
                </tr>
                <tr>
                    <th>Id fees</th>
                    <td th:text=${student.idFees}></td>
                </tr>
                <tr>
                    <th>Group title</th>
                    <td th:text=${student.groupTitle}></td>
                </tr>
            </table>
            <button type="button" class="btn btn-info" th:onclick="'javascript:rowClicked(\'' + ${student.id} + '\');'">Edit record</button>
        </th:block>
    </div>

    <br />

    <div th:insert="fragments/footer">&copy;2019 University project</div>
</body>
</html>
