<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script>
	function buttonClicked(value) {
		location.href = "teacher_edit?id=" + value;
	}
</script>
</head>
    <div th:replace="fragments/header">header</div>
<body>

    <div class="col-sm-12">
    <a th:href="@{/timetable-items(selectedTeacher=${teacherDto.id})}" class="btn btn-success col-sm-2 " th:text="#{messages.templates.button.gototimetableitems}">&nbsp;Go to timetable items</a>
    </div>

    <div class="container-fluid">
        <th:block th:if="${errorMessage != null}">
            <div class="alert alert-danger" th:text="${errorMessage}">Error!!</div>
            <br />
        </th:block>
        <th:block th:if="${teacherDto != null}">
            <th:block th:if="${successMessage != null}">
                <div class="alert alert-success" th:text="${successMessage}">Success</div>
                <br />
            </th:block>
            <table class="table table-bordered">
                <tr class="success">
                    <th th:text="#{messages.templates.teacher.firstname}">First name</th>
                    <td th:text=${teacherDto.firstName}></td>
                </tr>
                <tr>
                    <th th:text="#{messages.templates.teacher.lastname}">Last name</th>
                    <td th:text=${teacherDto.lastName}></td>
                </tr>
                <tr>
                    <th th:text="#{messages.templates.teacher.middlename}">Middle name</th>
                    <td th:text=${teacherDto.middleName}></td>
                </tr>
                <tr>
                    <th th:text="#{messages.templates.teacher.birthday}">Birthday</th>
                    <td th:text=${teacherDto.birthday}></td>
                </tr>
                <tr>
                    <th th:text="#{messages.templates.teacher.idfees}">Id fees</th>
                    <td th:text=${teacherDto.idFees}></td>
                </tr>
                <tr>
                    <th th:text="#{messages.templates.teacher.departmenttitle}">Department title</th>
                    <td th:text=${teacherDto.departmentTitle}></td>
                </tr>

                <th:block th:if="${!teacherDto.subjects.empty}">
                    <table class="table table-hover">
                        <tr>
                            <th th:text="#{messages.templates.teacher.subjecttitle}">Subject title</th>
                        </tr>
                        <tr th:each="subject : ${teacherDto.subjects}">
                            <td th:text="${subject.title}">Subject title</td>
                        </tr>
                    </table>
                </th:block>

            </table>
            <button type="button" class="btn btn-info" th:onclick="'javascript:buttonClicked(\'' + ${teacherDto.id} + '\');'" th:text="#{messages.templates.button.edit}">Edit record</button>
        </th:block>
    </div>

    <br />

    <div th:insert="fragments/footer">&copy;2019 University project</div>
</body>
</html>
