<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ"
    crossorigin="anonymous">
    
<!-- Script for collapse navbar  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>



<title th:text="${title}">Groups</title>
</head>
<body>


    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand" th:text="${title}"></a>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">main page</a></li>
                <li><a th:href="@{/timetable-items}">timetable items page</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View entities<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/students}">students page</a></li>
                        <li><a th:href="@{/teachers}">teachers page</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/auditories}">auditory page</a></li>
                        <li><a th:href="@{/auditorytypes}">auditory types page</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/departments}">departments page</a></li>
                        <li><a th:href="@{/faculties}">faculties page</a></li>
                        <li><a th:href="@{/groups}">groups page</a></li>
                        <li><a th:href="@{/lecturies}">lecture page</a></li>
                        <li><a th:href="@{/subjects}">subjects page</a></li>
                    </ul></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Create entities<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/student_edit}">students page</a></li>
                        <li><a th:href="@{/teacher_edit}">teachers page</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/auditory_edit}">auditory page</a></li>
                        <li><a th:href="@{/auditorytype_edit}">auditory types page</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/department_edit}">departments page</a></li>
                        <li><a th:href="@{/faculty_edit}">faculties page</a></li>
                        <li><a th:href="@{/group_edit}">groups page</a></li>
                        <li><a th:href="@{/lecture_edit}">lecture page</a></li>
                        <li><a th:href="@{/subject_edit}">subjects page</a></li>
                    </ul></li>
            </ul>
        </div>

    </nav>

</body>
</html>
